<div class="col s12 m8 offset-m2 ">
  <div class="row">
    <h4>Admin Dashboard</h4>
    <%= link_to "Tickets", admin_tickets_path, class: "waves-effect waves-light btn"%>
    <%= link_to "Orders", admin_orders_path, class: "waves-effect waves-light btn"%>
  </div>
  <div class="row">
    <table class= "bordered highlight">
      <thead>
        <th data-field="new"></th>
        <th data-field="venue_name">Venue Name</th>
        <th data-field="venue_address">Venue Address</th>
        <th data-field="venue_admin">Venue Admin</th>
        <th data-field="venue_admin">Venue Status</th>
        <th data-field="alerts">Alerts</th>
        <th data-field="available_actions">Available Actions</th>
      </thead>

      <tbody>
        <% @venues.each do |venue| %>
        <tr>
          <td>
            <% if venue.pending? %>
              <p id="pending-new">NEW</p>
            <% end %>
          </td>
          <td><%= venue.name %></td>
          <td><%= venue.address %></td>
          <td><%= venue.first_admin %></td>
          <td><%= venue.status %></td>
          <td>
            <% if venue.alerts? %>
             <%= link_to "!", alerts_path, class: "btn-floating btn-small waves-effect waves-light red" %>
            <% end %>
          </td>
          <td>
            <% if venue.active? %>
             <%= button_to "de-activate venue", admin_venue_deactivate_path(venue.id), class: "#{venue.name}-de-activate waves-effect waves-light red lighten-1 btn" %>
            <% else %>
             <%= button_to "activate venue", admin_venue_activate_path(venue.id), class: "#{venue.name}-activate waves-effect waves-light btn" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
