<div class="col s9 offset-3 ">
  <table class="head">
    <td><h5>Events By Date</h5></td>
    <td class="hidden-text">title is:</td>
    <td><p>date</p></td>
    <td><p>average ticket price</p></td>
    <td><p>Venue</p></td>
    <td class="hidden-text">image below</td>
  </table>
  <div class="scrolling-event">
    <table class= "bordered centered highlight responsive events">
      <tbody>
        <% unless @events.nil? %>
          <% @events.each do |event| %>
          <tr>
            <td>
              <% if event.this_week? %>
                <p id="soon">THIS WEEK!</p>
              <% end %>
            </td>
            <td><%= event.title %></td>
            <td><%= event.date_string %></td>
            <td><%= event.average_ticket_price %></td>
            <td><%= link_to "Get Tickets", event_path(event.venue.slug, event.id) %></td>
            <td><%= event.venue.name %></td>
            <td><%= image_tag(event.event_image.url, class: "thumbnail") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>
