<h5>Create a New Event</h5>
<%= form_for(@event) do |f| %>
  <div class="input-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="input-field">
     <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" }, class: "browser-default" %>
  </div>
  <%= link_to "Or create a new one", new_admin_event_path, class: "waves-effect waves-light btn" %>
  <div class="input-field">
    <%= f.label :performing %>
    <%= f.text_field :performing %>
  </div>
  <div class="input-field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  <div class="input-field">

  </div>
  <div class="center">
    <%= f.submit "Create Event", class: "waves-effect waves-light btn" %>
  </div>
<% end %>
