
<%= render partial: "partials/events_sidebar", locals: { active_category: "all", venues: @venues } %>
<div class="slider short col s9 offset-3">
  <ul class="slides">
    <li>
      <%= image_tag("https://raw.githubusercontent.com/GKhalsa/pivot_ticket/master/app/assets/images/#{return_appropriate_image(@events)}.jpg") %>
      <div class="caption left-align">
        <h4><%= @venue.name  %></h4>
        <p class="light white-text text-lighten-3"><%= @venue.address  %></p>
      </div>
    </li>
  </li>
</div>
<%= render partial: "partials/item_grid", locals: {events: @events} %>
