<div class="col s12 m8 l9">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col s12 m6">
        <div class="card card-<%= event.id %> hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag(event.event_image.url, class: "activator card-img")%>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= link_to event.title, event_path(event) %></span>
          </div>
          <div class="card-action center-align">
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= event.title %><i class="material-icons right">close</i></span>
            <p><%= event.performing %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!-- make this a partial -->
