<div class="cart-body">

  <div class="col sm12 m8 l6">
    <!-- <div class="cart-head center-align">
        <h5>Your shopping cart</h5>
    </div> -->
    <table class="responsive bordered highlight">
      <thead style="background-color: rgba(83, 124, 187, 0.21);">
        <td data-type="image"></td>
        <td data-type="event_title"><h5 class="blue-text">These Tickets are in Your Cart:</h5></td>
        <td class="blue-text" data-type="date">Event Date</td>
        <td class="blue-text" data-type="seat">Seat</td>
        <td class="blue-text" data-type="price">Price</td>
        <td data-type="delete"></td>
      </thead>
      <tbody>
        <% @cart.all_tickets.each do |ticket| %>
          <tr>
            <td><%= image_tag(ticket.event.event_image.url, class: "circle tiny thumbnail") %></td>
            <td><%= ticket.event.title %> </td>
            <td><%= ticket.event.date_string %> </td>
            <td><%= ticket.seat_location %> </td>
            <td><%= ticket.price %> </td>
            <td><%= link_to "Remove", cart_path(ticket_id: ticket.id), method: :delete, class: "btn light-blue accent-5" %></td>
          </tr>
        <% end %>
        <tr>
          <td>  <%= checkout_or_create_account_button %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><h6>Total:</h6></td>
          <td class="center-align"><%= @cart.total %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
