<h5>Edit Item</h5>
<%= form_for([:admin, @ticket], multipart: true) do |f| %>
  <div class="input-field">
     <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" }, class: "browser-default" %>
  </div>
  <div class="input-field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  <div class="input-field">
  </div>
  <div class="center">
    <%= f.submit "Edit Ticket", class: "waves-effect waves-light btn" %>
  </div>
<% end %>
